form
{
        width: 500px;
        padding: 20px;
        text-align: center; 
        background-color: cornflowerblue;
        color:darkblue;
        margin: 100px auto;
}
.input_tag{
        padding:10px;
        margin:20px;
        width:300px;
}
#add_btn{
        background-color: chocolate;
        color:white;
        padding: 15px;
        font-size: 20px;
        margin:10px;
        border:none;
        border-radius: 15%;
        cursor: pointer;
}